<p id="notice"><%= notice %></p>

<h2>All Listings</h2>
<div class="d-flex flex-wrap">
  <%= render @listings %>
</div>

<h2>All Listings in Australia</h2>
<div class="d-flex flex-wrap">
  <%= render @listings_australia %>
</div>

<h2>All Listings in New Zealand</h2>
<div class="d-flex flex-wrap">    
  <%= render @listings_new_zealand %>
</div>

<h2>All Listings in Philippines</h2>
<div class="d-flex flex-wrap">        
  <%= render @listings_philippines %>
</div>

<br>

<%= link_to 'New Listing', new_listing_path %>
